body {
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.one {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.content-wrapper {
  padding: 10%;
}

#first_section {
  background-image: url(header_produkter.webp);
  background-size: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vw;
}

#first_section h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-family: 'Bebas Neue', cursive;
}

h4 {
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}

ul {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}


/*footer edits*/

footer h5 {
  font-family: 'Roboto', sans-serif;
  color: black;
}

footer p {
  font-family: 'Roboto', sans-serif;
  color: black;
}

footer h4 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  color: black;
}

/* footer slut */